@import "tailwindcss";
@import "@fontsource/baloo-2";

html {
  scroll-behavior: smooth;
}

nav {
  font-family: "Baloo 2", sans-serif;
}

footer {
  font-family: "Baloo 2", sans-serif;
}

.baloo {
  font-family: "Baloo 2", sans-serif;
}

#about-us{
  font-family: "Baloo 2", sans-serif;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
